# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Facultate\sem III\MAP - Metode Avansate de Programare\prePracticGlobal\probePreExamSesiune\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
